@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #414c65;
}

#toast-container {
    position: fixed !important;
    z-index: 999999 !important;
    right: 12px !important;
    top: 12px !important;
    transition: opacity 0.3s ease-in-out;
}

#toast-container.toast-visible {
    opacity: 1;
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

#toast-container.toast-hidden {
    opacity: 0;
    display: block;
}

#toast-container.toast-completely-hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#toast-container .toast {
    background-position: 15px;
    background-repeat: no-repeat;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 12px #999;
    color: #fff;
    margin: 0 0 6px;
    opacity: 0.7;
    overflow: hidden;
    padding: 15px 15px 15px 50px;
    position: relative;
    min-width: 250px;
    min-height: 64px;
    max-width: 420px;
    box-sizing: border-box;
}

#toast-container .toast:hover {
    opacity: 0.8;
}

.toast .message {
    font-size: 11px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: calc(100% - 10px);
}

.toast .title {
    font-weight: 700;
    font-size: 10px;
}

.toast-error {
    background-color: #bd362f;
}

.toast .icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    color: white;
}

.toast .close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    line-height: 1;
    padding: 0;
}
