.box-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    min-height: 0;
}

.t-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    width: 100%;
    max-width: calc(100vw - 185px);
}

.t-personal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    background: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
    z-index: 2;
    font-family:
        Helvetica Neue,
        Arial,
        Helvetica,
        sans-serif;
    font-size: 14px;
}

.b-messages {
    display: flex;
    height: 100%;
    flex-grow: 1;
    min-height: 0;
}

.l-messages__items {
    background-color: white;
    border-right: 0.1px dashed #404652;
    height: 100%;
    width: 330px;
    flex-grow: 1;
    min-height: 0;
    list-style: none;
}

.l-messages__items .__item {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px;
    position: relative;
}

.l-messages__photos {
    flex-basis: 54px;
    max-width: 54px;
    width: 54px;
}

.l-photos {
    border-radius: 50%;
    display: block;
    font-size: 0;
    height: 54px;
    overflow: hidden;
    width: 54px;
}

.l-photos__item {
    height: 100%;
    width: 100%;
}

.l-photos__photo {
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.l-messages__info {
    display: flex;
    flex-basis: calc(100% - 59px);
    justify-content: space-between;
    margin-left: 5px;
    max-width: calc(100% - 59px);
    width: calc(100% - 59px);
}

.l-messages__data {
    flex-basis: calc(100% - 90px);
    max-width: calc(100% - 90px);
    width: calc(100% - 90px);
}

.l-messages__name {
    overflow: hidden;
}

.l-messages__text {
    color: #99a5b4;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.l-messages__date {
    color: #99a5b4;
    text-align: right;
    text-transform: uppercase;
}

.l-messages__type {
    color: #76a1ce;
    text-align: right;
}

.l-messages__content {
    background: #fff;
    height: 100%;
    width: calc(100% - 330px);
    flex-grow: 1;
    min-height: 0;
}

.__content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    min-height: 0;
}

.__content .__row {
    width: 100%;
}

.__content .__row:not(:last-child) {
    border-bottom: 1px solid #e3e9ea;
}

._col-wrap {
    display: flex;
    padding: 0;
}

.__col {
    overflow-wrap: break-word;
    padding: 16px 20px 20px;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.__col:first-child {
    width: 52%;
}

.__col:last-child {
    border-left: 1px solid #e3e9ea;
    width: 48%;
}

.__col .__title {
    color: #8c97a5;
    font-size: 14px;
}
.__col .__data {
    color: #404652;
    font-size: 17px;
    padding: 5px 0;
}
